[submodule "pslToBed"]
	path = pslToBed
	url = https://github.com/remimarenco/pslToBed
[submodule "trfBig"]
	path = trfBig
	url = https://github.com/remimarenco/trfBig
[submodule "bamToBigwig"]
	path = bamToBigwig
	url = https://github.com/remimarenco/bamToBigwig
