[submodule "pslToBed"]
	path = pslToBed
	url = https://github.com/remimarenco/pslToBed
[submodule "trfBig"]
	path = trfBig
	url = https://github.com/remimarenco/trfBig
[submodule "bamToBigwig"]
	path = bamToBigwig
	url = https://github.com/remimarenco/bamToBigwig
[submodule "blastXmlToPsl"]
	path = blastXmlToPsl
	url = https://github.com/remimarenco/blastXmlToPsl
[submodule "hub-archive-creator"]
	path = hub-archive-creator
	url = https://github.com/goeckslab/hub-archive-creator
[submodule "glimmerhmm"]
	path = glimmerhmm
	url = https://github.com/remimarenco/glimmerhmm
[submodule "multi_fasta_glimmerhmm"]
	path = multi_fasta_glimmerhmm
	url = https://github.com/remimarenco/multi_fasta_glimmerhmm
[submodule "regtools"]
	path = regtools
	url = https://github.com/remimarenco/regtools
